
p {
    margin: 0;
}

/* main{
    padding: 0 200px ; 
} */

.header{
    width: 100%;
    background: #fffcf7;
}

.wraper{
    padding: 23px 110px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 27px;
    height: 37px;
    margin-right: 8px;
}



.info{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 33px;
}

.search{
    margin-left: 20px;
}

.lock{
    margin-left: 100px;
}

.login{
    list-style-type: none;
}

.button{
    padding: 0px 10px;
    background-color: #fff0d7;
    color: #e5a740;
    border: solid #fff0d7;
    margin-left: 10px;
}

.support-syetem{
    display: flex;
    background: #fffcf7;
    margin-top: 213px;


}

.supportSystem{
    max-width: 644px;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

.supporttext{
    max-width: 490px;
    font-size: 18px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 35px;
}


.email{
    margin-bottom: 34px;
    padding: 20px 10px 10px;
    border: solid white;
}

.buttonStart{
    background-color: #fff0d7;
    color: #e5a740;
    border: solid #fff0d7;
    margin-bottom: 35px;
}

.sponsers{
    display: flex; 
}

.paypal{
    margin-left: 21px;
}

.google{
    margin-left: 21px;
}

.p{
    color: #c0c3c5;
    font-size: 20px;
}


.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
}

.helpService{
    display: flex; 
    padding: 40px 45px; 
    gap: 28px;  
}

.illustration{
    max-width: 741px;
   
}

.textSupport{
    align-items: center;
}


.helpSupport{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.serviceText p{
    max-width: 334px;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
}

.serviceImage{
    width: 80px;
    height: 80px;
    align-items: center;
}


.service2{
    background: #f6f8fb;
    display: flex;
    padding: 40px 45px;
    gap: 28px;
}


.textSupport1{
    align-items: center;
}


.helpSupport1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}


.support1{
    width: 250px;
    height: 30px;   
}


.features{
    width: 1340px;
    height: 731px;
    display: flex;
}


.textMessege{
    max-width: 503px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 26px;
}

.textMessege1{
    max-width: 478px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 30px;
}


.textMessege2{
    max-width: 302px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
    
}

.textMessege3{
    max-width: 475px;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 20px;
}


.textMessege4{
    max-width: 372px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    background-color:#F6F8FB ;
    margin-bottom: 25px;
}

.textMessege5{
    max-width: 372px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    background-color:#F6F8FB ;
    margin-bottom: 25px;
}


.workHard{
    display: flex;
    
}

.workText{
    width: 50%;
}

.textWork{
    max-width: 510px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    
}

.textWork1{
    max-width: 470px;
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
}


.work-imege{
    width: 50%;
}

.workImege{
    max-width: 620px;
    max-height: 740px;
    position: relative;
}

.img1{
    position: absolute;

}

.img2{
    position: absolute;
    left: 100px;
}

.workForm{
    width: 450px;
    height: 137px;
    display: flex;
    justify-content: space-between;
    
}

.form1{
    width: 170px;
    height: 137px;
}

.form2{
    width: 236px;
    height: 137px;
}



.statisticTab{
    width: 100%;
    height: 1050px;
    background-color: #353448;  
}

.tabSection{
    display: flex;
    
    
}
.itemIcon{
    padding-bottom: 20px;
    border-bottom: 3px solid grey;
}

.itemIcon img{
    width: 30px;
    height: 30px;
    padding-left: 100px;

}


.itemDesc{
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 15px;
    padding-left: 100px;
}

.budgetOvr{
    color: #FFC059;
    padding-left: 0;
}

.active{
    border-bottom: 3px solid #FFC059;

}
.active img{
    padding-left: 0;
}



.optimize{
    width: 30px;
    height: 30px;
}


.staticIntreduce{
    display: flex;
    
}

.intreduceText{
    max-width: 458px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: white;
    margin-top: 137px;
}

.textIntreduce{
    max-width: 436px;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: white;
    margin-top: 25px;

}

.details{
    padding:20px 50px ;
    background-color: #FFC059;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: white;
}

.statistics{
    width: 40%;
    height: 400px;
    margin-top: 137px;
   
}

.prices{
    width: 100%;
    height: 1200px;

}

.advice{
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    margin-top: 110px;
    margin-left: 480px;
}

.pricingPlan{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: gray;
    margin-left: 570px;
}

.manthlyPlan{
    display: flex;
    margin-top: 30px;
    margin-left: 530px;

}

.plan1{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
}

.switchOn{
    margin-left:10px;
}

.plan2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
}

.priceList{
    display: flex;
}

.startup{
    width: 480px;
    height: 730px;
    margin-top: 50px;
    margin-left: 250px;
}

.startText{
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    padding: 45px 50px;
}

.startPrice{
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #FFC059;
    padding: 0 50px;
}

.startTeam{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #343D48;
    padding: 25px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.startCourse{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.startKinds{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.startTotal{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.startDownliad{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    color: #343D48;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;

}

.startButten{
    border: solid #fff9ee;
    color: #fff9ee;
    color: #FFC059;
    margin-left: 74px;
    padding: 7px;

}

.premiume{
    width: 480px;
    height: 730px;
    margin-top: 50px;
}

.premiumText{
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    padding: 45px 50px;
}

.premiumPrice{
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #FFC059;
    padding: 0 50px;
}

.premiumTeam{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #343D48;
    padding: 25px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.premiumCourse{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.premiumKinds{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.premiumTotal{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.premiumDownliad{
    max-width: 291px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    color: #343D48;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;

}

.premiumButten{
    border: solid #fff9ee;
    background-color:#FFC059 ;
    color: white;
    margin-left: 74px;
    padding: 7px;

}


















