
p {
    margin: 0;
}

/* main{
    padding: 0 200px ; 
} */

.header{
    width: 100%;
    background: #fffcf7;
}

.wraper{
    padding: 23px 110px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 27px;
    height: 37px;
    margin-right: 8px;
}



.info{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 33px;
}

.search{
    margin-left: 20px;
}

.lock{
    margin-left: 100px;
}

.login{
    list-style-type: none;
}

.button{
    padding: 0px 10px;
    background-color: #fff0d7;
    color: #e5a740;
    border: solid #fff0d7;
    margin-left: 10px;
}

.support-syetem{
    display: flex;
    background: #fffcf7;
    margin-top: 213px;


}

.supportSystem{
    max-width: 644px;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

.supporttext{
    max-width: 490px;
    font-size: 18px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 35px;
}


.email{
    margin-bottom: 34px;
    padding: 20px 10px 10px;
    border: solid white;
}

.buttonStart{
    background-color: #fff0d7;
    color: #e5a740;
    border: solid #fff0d7;
    margin-bottom: 35px;
}

.sponsers{
    display: flex; 
}

.paypal{
    margin-left: 21px;
}

.google{
    margin-left: 21px;
}

.p{
    color: #c0c3c5;
    font-size: 20px;
}


.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
}

.help-service{
    display: flex; 
    padding: 40px 45px; 
    gap: 28px;  
}

.illustration{
    max-width: 741px;
   
}

.textSupport{
    align-items: center;
}


.helpSupport{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.service-text p{
    max-width: 334px;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
}

.service-image{
    width: 80px;
    height: 80px;
    align-items: center;
}


.service2{
    background: #f6f8fb;
    display: flex;
    padding: 40px 45px;
    gap: 28px;
}


.textSupport1{
    align-items: center;
}


.helpSupport1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}


.support1{
    width: 250px;
    height: 30px;   
}


.features{
    width: 1340px;
    height: 731px;
    display: flex;
}


.textMessege{
    max-width: 503px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 26px;
}

.textMessege1{
    max-width: 478px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 30px;
}


.textMessege2{
    max-width: 302px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
    
}

.textMessege3{
    max-width: 475px;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 20px;
}


.textMessege4{
    max-width: 372px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    background-color:#F6F8FB ;
    margin-bottom: 25px;
}

.textMessege5{
    max-width: 372px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    background-color:#F6F8FB ;
    margin-bottom: 25px;
}


.work-hard{
    display: flex;
    
}

.work-text{
    width: 50%;
}

.text-work{
    max-width: 510px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    
}

.text-work1{
    max-width: 470px;
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
}

.work-imege{
    max-width: 620px;
    max-height: 740px;
    position: relative;
}

.img1{
    max-width: 375px;
    max-height: 400px;
    position: absolute;

}

.img2{
    max-width: 375px;
    max-height: 400px;
    position: absolute;
    left: 100px;
}

.work-form{
    width: 450px;
    height: 137px;
    display: flex;
    justify-content: space-between;
    
}

.form1{
    width: 170px;
    height: 137px;
}

.form2{
    width: 236px;
    height: 137px;
}


.BG{
    width: 100%;
    height: 1050px;
    background-color: #353448;  
}

.tabSection{
    display: flex;
    gap: 106px;
    border: solid red;
}

.butget{
    max-width: 132px;
}


.dolar{
    width: 30px;
    height: 30px;
}

.border{
    width: 160px;
    border-bottom: 3px solid #FFC059;
}

.budgetOverview{
    max-width: 132px;
    font-weight: 700;
    font-size: 16px;
    color: #FFC059;
    gap: 10px;
}

.create{
    max-width: 119px;
}

.setting{
    width: 30px;
    height: 30px;
}

.line{
    width: 1520px;
    border-bottom: 1px solid #49485a;
}

.createAbject{
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.report{
    width: 30px;
    height: 30px;
}

/* .viewReport{
    font-weight: 500;
    font-size: 16px;
    color: white;
} */

/* .line1{
    border-bottom: 1px solid #49485a;

} */

.optimize{
    width: 30px;
    height: 30px;
}

/* .intreduce{

} */

.intreduceText{
    max-width: 458px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: white;
    margin-top: 137px;
}

.textIntreduce{
    max-width: 436px;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: white;
    margin-top: 25px;

}

.details{
    padding:20px 50px ;
    background-color: #FFC059;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: white;
}

.statistics{
    width: 500px;
    height: 400px;
    margin-left: 300px;
    margin-top: 0;
}
/* .pricingPlan{
    max-width: 384px;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    align-items: center;
} */
















