.header{
    width: 100%;
    background: #fffcf7;
}

.wraper{
    padding: 23px 110px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 27px;
    height: 37px;
    margin-right: 8px;
}



.info{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 33px;
}

.search{
    margin-left: 20px;
}

.lock{
    margin-left: 100px;
}

.login{
    list-style-type: none;
}

.button{
    padding: 0px 10px;
    background-color: #fff0d7;
    color: #e5a740;
    border: solid #fff0d7;
    margin-left: 10px;
}

.header1{
    width: 100%;
    display: flex;
    background: #fffcf7;
}

.text{
    padding: 212px 110px ;

}

.email{
    padding: 20px 10px 10px;
    border: solid white;
}

.button1{
    background-color: #fff0d7;
    color: #e5a740;
    border: solid #fff0d7;
}

.sponsers{
    display: flex; 
}

.paypal{
    margin-left: 21px;
}

.google{
    margin-left: 21px;
}

.p{
    color: #c0c3c5;
    font-size: 20px;
}

.illustration{
    width: 500px;
    height: 770px;
}

.service{
    width: 1110px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
}

.service1{
    width: 540px;
    height: 230px;
    position: relative;
     
}

.image{
    width: 80px;
    height: 80px;
    padding: 40px 45px;
}

.seaport{
    width: 250px;
    height: 30px; 
    position: absolute;
    left: 150px;
    top: 35px;
}

.text1{
    width: 334px;
    height: 88px;
    position: absolute;
    left: 150px;
    top: 45%
   
}

.service2{
    width: 540px;
    height: 230px;
    background: #f6f8fb;
    position: relative;

}

.seaport1{
    width: 250px;
    height: 30px; 
    position: absolute;
    left: 150px;
    top: 35px;
}

.features{
    width: 1340px;
    height: 731px;
    display: flex;
}

.messenger{
    width: 550px;
    height: 637px;
}

.messege{
    width: 515px;
    height: 121px;
}

.messege1{
    width: 478px;
    height: 70px;  
}

.messege2{
    width: 302px;
    height: 30px;
}

.messege3{
    width: 520px;
    height: 190px;
}

.messege4{
    width: 372px;
    height: 80px;
    background-color: #F6F8FB;
}

.messege5{
    width: 372px;
    height: 80px;
    background-color: #F6F8FB;
}










